#!/usr/bin/env bash
# Copyright (c) 2020, Loïc Deraed

# Mail the result of the last cf-agent invocation
#
# Usage: cf-mailresult

# get last invocation id for cf-agent-hourly.service
INVOCATION_ID=$(systemctl show -p InvocationID --value cf-agent-hourly.service)

# get logs for invoaction id
RESULT=$(journalctl -q _SYSTEMD_INVOCATION_ID="$INVOCATION_ID")

# filter logspam
RESULT=$(echo "$RESULT" \
         | grep -v "session closed for user debian-security-support" \
         | grep -v "session opened for user debian-security-support" \
        )

# don't send an empty email
if [ -z "$RESULT" ]; then
  exit 0
fi

(cat <<-END
To: root
From: TODO
Subject: $HOSTNAME: cfengine result

$RESULT
END
) | sendmail.encrypt root

# vim: filetype=sh
