# basedir defaults {{{

# http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html
[[ -z $XDG_DATA_HOME ]]   && export XDG_DATA_HOME=$HOME/.local/share
[[ -z $XDG_CONFIG_HOME ]] && export XDG_CONFIG_HOME=$HOME/.config
[[ -z $XDG_CACHE_HOME ]]  && export XDG_CACHE_HOME=$HOME/.cache
[[ -z $XDG_DATA_DIRS ]]   && export XDG_DATA_DIRS=/usr/local/share:/usr/share
[[ -z $XDG_CONFIG_DIRS ]] && export XDG_CONFIG_DIRS=/etc/xdg
# }}}

# variables {{{
export EDITOR=vim
export USE_EDITOR=$EDITOR
export VISUAL=$EDITOR
export MANPAGER="nvim -c 'set ft=man' -"
# }}}

# history {{{
setopt histignorealldups sharehistory

[[ -d "$XDG_DATA_HOME/zsh" ]] || mkdir -p "$XDG_DATA_HOME/zsh"

HISTSIZE=10000
SAVEHIST=10000
HISTFILE="$XDG_DATA_HOME"/zsh/histfile
# }}}

# completion system {{{
autoload -Uz compinit
compinit

zstyle ':completion:*' group-name ''
zstyle ':completion:*' menu select
eval "$(dircolors -b)"
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-colors ''
# zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|='
# -> commented out as causes annoying warning messages when completing a 
#    path that does not exist.
zstyle ':completion:*' use-compctl false

zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
zstyle ':completion:*:kill:*' command 'ps -u $USER -o pid,%cpu,tty,cputime,cmd'

setopt completealiases
# }}}

# prompt {{{
autoload -Uz promptinit
promptinit

prompt walters

# change username colour based on privilege
if [[ $UID == 0 || $EUID == 0 ]]; then
  PROMPT_USER_COL="red"
else [ id -nG "\$USER" | grep -qw "sudo" ]; then
  PROMPT_USER_COL="yellow"
else
  PROMPT_USER_COL="blue"
fi

# end with '#' for root, '$' otherwise
if [[ $UID == 0 || $EUID == 0 ]]; then
  PROMPT_SUFFIX="#"
else
  PROMPT_SUFFIX="$"
fi

# show hostname if connected over ssh
if [[ -n "$SSH_CLIENT" ]]; then
  PROMPT="%F{$PROMPT_USER_COL}%n%B%F{green}@%m%b%f${PROMPT_SUFFIX} "
else 
  PROMPT="%F{$PROMP_USER_COL}%n%f${PROMPT_SUFFIX} "
fi

# enable prompt function expansion
setopt promptsubst
# }}}

# colours {{{
alias ls="ls --color=auto"
#}}}

# tweaks {{{
bindkey -v # use vim keybindings

# disable terminal beeping
unsetopt autocd beep

# automatically resets terminal state
ttyctl -f 

# say how long a command took, if it took more than 30 seconds
export REPORTTIME=30

# calculator
autoload zcalc

# background processes aren't killed on exit of shell
setopt AUTO_CONTINUE

# edit a long command using text editor
autoload edit-command-line; zle -N edit-command-line
bindkey -M vicmd v edit-command-line

# history up/down arrows
autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search # up
bindkey "^[[B" down-line-or-beginning-search # down
# }}}

# fixes {{{

# Fix for /snap/bin missing from $PATH, due to zsh not sourcing files in
# /etc/profile.d.
if [ -f "/etc/profile.d/apps-bin-path.sh" ]; then
  source /etc/profile.d/apps-bin-path.sh
fi

# }}}

# vim: set fdm=marker fmr={{{,}}} fdl=0 syntax=zsh :
