# managed by cfengine

Package: dkms
Pin: release a={{debian_release}}-backports
Pin-Priority: 900

Package: spl-dkms
Pin: release a={{debian_release}}-backports
Pin-Priority: 900

Package: zfs-dkms
Pin: release a={{debian_release}}-backports
Pin-Priority: 900

Package: zfsutils-linux
Pin: release a={{debian_release}}-backports
Pin-Priority: 900
