[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{user}}
Nice=1

NoNewPrivileges=yes
# MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallFilter=@system-service
SystemCallArchitectures=native
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
# ProtectHome=yes
PrivateDevices=yes
# PrivateNetwork=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/home/{{user}}

WorkingDirectory=/home/{{user}}/server
ExecStart=/usr/bin/java -Xmx1024M -Xms512M -jar server.jar nogui
ExecStop=/usr/local/bin/mcrcon -H 127.0.0.1 -P 25575 -p strong-password stop

[Install]
WantedBy=multi-user.target
