// managed by cfengine

// tweaks sourced from 
// https://github.com/debuerreotype/debuerreotype/blob/master/scripts/debuerreotype-minimizing-config

// don't install recommend packages
APT::Install-Recommends "false";
APT::Install-Suggests "false";

// aggressively remove suggested packages
APT::AutoRemove::SuggestsImportant "false";

// keep indexes compressed
Acquire::GzipIndexes "true";

// only need english, so remove translations file
Acquire::Languages "none";

// use sandboxing
APT::Sandbox::Seccomp "true";

// refresh lists 
APT::Periodic::Update-Package-Lists "1";

// clean obsolete packages
APT::Periodic::AutocleanInterval "1";
