# managed by cfengine

deb http://deb.debian.org/debian {{release}} {{repos}}
deb-src http://deb.debian.org/debian {{release}} {{repos}}

{{#is_stable}}
deb http://security.debian.org/ {{release}}/updates {{repos}}
deb-src http://security.debian.org/ {{release}}/updates {{repos}}

# deb http://deb.debian.org/debian {{release}}-updates main
# deb-src http://deb.debian.org/debian {{release}}-updates main

deb http://deb.debian.org/debian {{release}}-backports {{repos}} 
deb-src http://deb.debian.org/debian {{release}}-backports {{repos}} 
{{/is_stable}}
