# managed by cfengine

deb https://deb.debian.org/debian {{release}} {{repos}}
deb-src https://deb.debian.org/debian {{release}} {{repos}}

{{#is_stable}}
deb https://security.debian.org/ {{release}}/updates {{repos}}
deb-src https://security.debian.org/ {{release}}/updates {{repos}}

# deb https://deb.debian.org/debian {{release}}-updates main
# deb-src https://deb.debian.org/debian {{release}}-updates main

deb https://deb.debian.org/debian {{release}}-backports {{repos}} 
deb-src https://deb.debian.org/debian {{release}}-backports {{repos}} 
{{/is_stable}}
