set httpd unixsocket /var/run/monit.sock
	allow monit:{{password}}

set alert root@localhost with reminder on 1440 cycles
set mailserver localhost

set mail-format {
from: monit
subject: $SERVICE $EVENT at $DATE
message: Monit $ACTION $SERVICE at $DATE on $HOST: $DESCRIPTION

Yours faithfully,
Monit
}

# monit runs cycle every 2 minutes

check system $HOST
	if memory usage > 90% for 5 cycles then alert
	if cpu > 90% for 10 cycles then alert

check filesystem rootfs with path /
	if changed fsflags then alert
	if space free < 2 GB then alert
	if inode usage > 80% then alert
	if service time > 300 milliseconds 
		for 3 times within 5 cycles 
	then alert

check network eth0 with interface eth0
	if failed link then alert
	if changed link then alert
	if saturation > 90% then alert
