// managed by cfengine

// see "/etc/apt/apt.conf.d/50unattended-upgrades"
// for details of options

// send emails to root
Unattended-Upgrade::Mail "root"

// runs "apt autoremove" after installing packages
Unattended-Upgrade::Remove-Unused-Dependencies "true"

// reboots machine when needed
Unattended-Upgrade::Automatic-Reboot "true"

// set reboot time
Unattended-Upgrade::Automatic-Reboot-Time "01:00"

