#!/bin/sh
# managed by cfengine3

# fix colours
export TERM=xterm-256color
tput sgr0

neofetch --off --color_blocks off --disable resolution \
--disable wm --disable theme --disable icons --disable term --disable shell \
--memory_percent on \
| awk 'NF {print tolower($0)}; ' \
| grep -v 'root' \
| grep --fixed-strings -v '7h' # remove blank line

tput sgr0
echo -n "-----------------------------"
