#!/bin/sh
# managed by cfengine3

# fix colours
export TERM=xterm-256color
tput sgr0

neofetch --off --color_blocks off --disable resolution \
--disable wm --disable theme --disable icons --disable term --disable shell \
--memory_percent on \
--colors 4 4 11 4 11 11 --bold off \
| awk 'BEGIN{RS="\r\n"}; NF {print tolower($0)}' \
| grep -v 'root'
echo -n "-----------------------------"
