#!/bin/sh
# file managed by cfengine3

export TERM=xterm-256color
tput sgr0

{{#data}}
tput setaf 6 \
&& echo -n "	{{key}}		" \
&& tput setaf 3 \
&& echo "{{value}}" \
&& tput sgr0
{{/data}}

echo "machine managed by CFEngine 3"
