# managed by cfengine

print_info () {
    info "os" distro
    info "cpu" cpu
    info "gpu" gpu
    info "uptime" uptime
    info "kernel" kernel
    info "memory" memory
    info "disk" disk
    info "packages" packages
}
